# Copier ce fichier en .env et remplir les valeurs

# Base de données PostgreSQL
DB_USER=user
DB_PASSWORD=password

# pgAdmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

# Riot Games API (developer.riotgames.com) — clé expire toutes les 24h
RIOT_API_KEY=RGAPI-XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX

# Leaguepedia Bot (lol.fandom.com/wiki/Special:BotPasswords)
LEAGUEPEDIA_USERNAME=WikiUsername@BotName
LEAGUEPEDIA_PASSWORD=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
